{% extends 'base.html.twig' %}

{% block body %}
    {{ include('main/_header.html.twig') }}

    <h1>Welcome to our Movie Booking System!</h1>

    <h2>Available Movies:</h2>
    <div class="row">
    {% for movie in movies %}
        <div class="col-lg-3 col-md-3 col-sm-12">
            <div class="movie">
                <a href="{{ path('app_movie', {'id': movie.id}) }}">
                    <img src="{{ asset(movie.imagePath|slice(7)) }}" alt="{{ movie.title }}" class="img-fluid"/>
                </a>
                <div class="movie-details">
                    <h3>{{ movie.title }}</h3>
                    <p>{{ movie.length }}</p>
                </div>
            </div>
        </div>

        {% if loop.index is divisible by(3) %}
            <div class="w-100 d-lg-none d-md-none d-sm-block"></div>

            <div style="height: 20px; background-color: red;"></div>
                    </div> <!-- newline after 2 movies -->
                {% endif %}
            {% endfor %}

{% endblock %}
