{% extends 'base.html.twig' %}

{% block body %}
    {{ include('main/_header.html.twig') }}

    <h1>Welcome to our Movie Booking System!</h1>

    <h2>Available Movies:</h2>
    <div class="container">
        <div class="row">
            {% for movie in movies %}
            <div class="col-sm-6">
                <div class="movie">
                    <a href="{{ path('app_movie', {'id': movie.id}) }}">
                        <img src="{{ asset(movie.imagePath|slice(7)) }}" alt="{{ movie.title }}" class="img-fluid"/>
                    </a>
                    <div class="movie-details">
                        <h3>{{ movie.title }}</h3>
                        <p>{{ movie.length }}</p>
                    </div>
                </div>
            </div>
            {% if loop.index is divisible by(2) %}
        </div><div class="row">
            {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}

